<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
                <div id="sidebar" class="col-4 col-12-medium">
   
   
   <div id="sidebar" class="col-4 col-12-medium"></div>
    <section>
    <img src="../../assets/css/images/000.jpg" alt="">
    <header>
            <h3>Los nuevos herederos de Zapata</h3>
        </header>
        <p>Autor: <strong>Armando Bartra</strong> <br>
            Editorial: <strong>Secretaría de Educación Pública</strong></p>
        </section>
</div>
<div id="sidebar" class="col-4 col-12-medium"></div>
        <section>
            <img src="../../assets/css/images/grado3.jpg" alt="" />
            <header>
                <h3>Los nuevos herederos de Zapata</h3>
            </header>
            <p>Autor: <strong>Armando Bartra</strong> <br>
                Editorial: <strong>Secretaría de Educación Pública</strong></p>
            </section>
        </div>



            <img src="../../assets/css/images/grado31.jpg" alt="" />
            <header>
                <h3>Desafíos matemáticos.
                </h3>
            </header>
            <p>Grado: <strong>3°</strong> <br>
                Editorial: <strong>Secretaría de Educación Pública</strong></p>
        




            <img src="../../assets/css/images/grado32.jpg" alt="" />
            <header>
                <h3>Educación Artística</h3>
            </header>
            <p>Grado: <strong>3°</strong> <br>
                Editorial: <strong>Secretaría de Educación Pública</strong></p>
        



            <img src="../../assets/css/images/espa.jpg" alt="" />
            <header>
                <h3>Ciencias Naturales</h3>
            </header>
            <p>Grado: <strong>4°</strong> <br>
                Editorial: <strong>Secretaría de Educación Pública</strong></p>
        


            <img src="../../assets/css/images/ciencias.jpg" alt="" />
            <header>
                <h3>Español. Libro de lectura</h3>
            </header>
            <p>Grado: <strong>4°</strong> <br>
                Editorial: <strong>Secretaría de Educación Pública</strong></p>
        


            <img src="../../assets/css/images/civica.jpg" alt="" />
            <header>
                <h3>Formación Cívica y Ética</h3>
            </header>
            <p>Grado: <strong>4°</strong> <br>
                Editorial: <strong>Secretaría de Educación Pública</strong></p>
        


            <img src="../../assets/css/images/atlas.jpg" alt="" />
            <header>
                <h3>Atlas de geografía del mundo</h3>
            </header>
            <p>Grado: <strong>5°</strong> <br>
                Editorial: <strong>Secretaría de Educación Pública</strong></p>
        



            <img src="../../assets/css/images/geo.jpg" alt="" />
            <header>
                <h3>Geografía</h3>
            </header>
            <p>Grado: <strong>5°</strong> <br>
                Editorial: <strong>Secretaría de Educación Pública</strong></p>
        


    <img src="../../assets/css/images/historia.jpg" alt="" />
    <header>
        <h3>Historia</h3>
    </header>
    <p>Grado: <strong>5°</strong> <br>
        Editorial: <strong>Secretaría de Educación Pública</strong></p>

