<div class="wrap">
    <div class="store-wrapper">
            <section class="products-list">
                    <div class="product-item">
                            <img src="../../assets/css/images/Primaria1.jpg" alt="" >
                            <a href="#">Lo quiero</a>
                    </div>
                    <div class="product-item">
                            <img src="../../assets/css/images/Primaria2.jpg" alt="" >
                            <a href="#">Lo quiero</a>
                    </div>
                    <div class="product-item">
                            <img src="../../assets/css/images/Primaria3.jpg" alt="" >
                            <a href="#">Lo quiero</a>
                    </div>
                    <div class="product-item">
                            <img src="../../assets/css/images/Primaria4.jpg" alt="" >
                            <a href="#">Lo quiero</a>
                    </div>
                    <div class="product-item">
                            <img src="../../assets/css/images/Primaria5.jpg" alt="" >
                            <a href="#">Lo quiero</a>
                    </div>
                    <div class="product-item">
                            <img src="../../assets/css/images/Primaria6.jpg" alt="" >
                            <a href="#">Lo quiero</a>
                    </div>
                    <div class="product-item">
                            <img src="../../assets/css/images/Primaria7.jpg" alt="" >
                            <a href="#">Lo quiero</a>
                    </div>
                    <div class="product-item">
                            <img src="../../assets/css/images/Primaria8.jpg" alt="" >
                            <a href="#">Lo quiero</a>
                    </div>
            </section>
    </div>
</div>

