   <!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_1 overlay"><h3>Nosotros</h3></div>
<!-- bradcam_area_end -->
<!-- about_area_start -->
<div class="about_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_thumb2">
                    <div class="img_1">
                        <img src="img/nosotros/1.png" alt="">
                    </div>
                    <div class="img_2">
                        <img src="img/nosotros/2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 offset-lg-1 col-md-6">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <span>Sobre Nosotros</span>
                        <h3>Tienda Golosinas <br>
                            En tú Ciudad</h3>
                    </div>
                    <p>Tienda Golosinas es un restaurante inspirado en la mezcla y toques de sabores, texturas y
                        colores
                        ubicados en el hall de entrada al Hotel y Centro de Eventos Malibu en la ciudad de
                        Sincelejo. Animado con una brisa fresca en el centro de una arquitectura moderna, con una
                        gran guaca de sabores. Nuestro menú es una experiencia ecléctica de la mejor cocina
                        internacional con un toque de estilo mediterráneo.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about_area_end -->

<!-- testimonial_area_start  -->
<div class="testimonial_area ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-60 text-center">
                    <span>Restaurante</span>
                    <h3>Tienda Golosinas</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <h4>Mision:</h4>
                                    <p>Satisfacer las necesidades gastronómicas de nuestros clientes,
                                        ofreciendo alimentos y servicios con la más alta calidad, donde se
                                        sobrepasen las expectativas de nuestros clientes y ser un espacio de trabajo
                                        que permita la realización personal y el Desarrollo de sus colaboradores en
                                        el grupo.
                                        Tomando como estrategia principal el mejoramiento continúo de los estrictos
                                        estándares de higiene y buen servicio en un ambiente seguro, agradable y
                                        familiar a un precio justo.</p>
                                    <h4>Vision:</h4>
                                    <p>“Ser el Mejor Restaurante a nivel Regional y nacional" Ser
                                        reconocido y preferido a nivel Regional y Nacional, como un grupo de trabajo
                                        original, sólido y profesional.</p>
                                    <div class="testmonial_author">
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial_area_ned  -->