   <!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_1 overlay"><h3>Nosotros</h3></div>
<!-- bradcam_area_end -->
<!-- about_area_start -->
<div class="about_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_thumb2">
                    <div class="img_1">
                        <img src="../../assets/css/images/Banner.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 offset-lg-1 col-md-6">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <span>Sobre Nosotros</span>
                        <h3>librería la Perdida <br>
                            En tú Ciudad</h3>
                    </div>
                    <p>Pocos oficios tan gratificantes como crear espacios para los libros, donde la 
                        narrativa, la poesía, las ciencias sociales y la literatura infantil se 
                        unan para crear mundos mágicos y forjar una gran nación de lectores, de ciudadanos 
                        con pensamiento propio. El carácter distintivo de librería Guaymuras es que en 
                        ella se puede encontrar toda la bibliografía que se produce en Honduras. O, al 
                        menos, se hace todo lo posible para que así sea. Muchos años tuvieron que pasar 
                        para que la librería Guaymuras se afianzara en el difícil mundo del libro y la 
                        lectura de nuestro país, pero ahora sabemos que el riesgo y la constancia valieron 
                        la pena. Siguiendo con esa propuesta, le invitamos a que visite este espacio, donde 
                        hemos colocado una pequeña bibliografía de editoriales hondureñas, para que quede 
                        constancia que en Honduras sí se escribe, y bien.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about_area_end -->

<!-- testimonial_area_start  -->
<div class="testimonial_area ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-60 text-center">
                    <span>librería</span>
                    <h3>La Perdida</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <h4>Mision:</h4>
                                    <p>Satisfacer íntegramente las necesidades de nuestros clientes, ofreciendo el 
                                        mayor surtido de libros de texto, lectura e innovación digital.  Satisfaciendo 
                                        las necesidades de la comunidad educativa con una amplia gama de editoriales 
                                        para garantizar el aprendizaje y fomentar el amor a la lectura en el público en general.</p>
                                    <h4>Vision:</h4>
                                    <p>Ser la librería líder en el Sur occidente de Guatemala en la venta y distribución 
                                        de libros de textos, libros de lectura en general, plataformas digitales, tanto 
                                        de editoriales nacionales como extranjeras, reconocida por la calidad de nuestro 
                                        servicio y la contribución a la comunidad educativa.</p>
                                    <div class="testmonial_author">
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial_area_ned  -->