<div class="wrap">
    <div class="store-wrapper">
            <section class="products-list">
                    <div class="product-item">
                            <img src="../../assets/css/images/preescolar1.jpg" alt="" >
                            <a href="#">Lo quiero</a>
                    </div>
                    <div class="product-item">
                            <img src="../../assets/css/images/preescolar2.jpg" alt="" >
                            <a href="#">Lo quiero</a>
                    </div>
                    <div class="product-item">
                            <img src="../../assets/css/images/preescolar3.jpg" alt="" >
                            <a href="#">Lo quiero</a>
                    </div>
                    <div class="product-item">
                            <img src="../../assets/css/images/preescolar4.jpg" alt="" >
                            <a href="#">Lo quiero</a>
                    </div>
                    <div class="product-item">
                            <img src="../../assets/css/images/preescolar5.jpg" alt="" >
                            <a href="#">Lo quiero</a>
                    </div>
                    <div class="product-item">
                            <img src="../../assets/css/images/preescolar6.jpg" alt="" >
                            <a href="#">Lo quiero</a>
                    </div>
                    <div class="product-item">
                            <img src="../../assets/css/images/preescolar7.jpg" alt="" >
                            <a href="#">Lo quiero</a>
                    </div>
                    <div class="product-item">
                            <img src="../../assets/css/images/preescolar8.jpg" alt="" >
                            <a href="#">Lo quiero</a>
                    </div>
            </section>
    </div>
</div>
