<div class="wrap">
    <div class="store-wrapper">
            <section class="products-list">
                    <div class="product-item">
                            <img src="../../assets/css/images/popular1.jpg" alt="" >
                            <a href="#">Lo quiero</a>
                    </div>
                    <div class="product-item">
                            <img src="../../assets/css/images/popular2.jpg" alt="" >
                            <a href="#">Lo quiero</a>
                    </div>
                    <div class="product-item">
                            <img src="../../assets/css/images/popular3.jpg" alt="" >
                            <a href="#">Lo quiero</a>
                    </div>
                    <div class="product-item">
                            <img src="../../assets/css/images/popular4.jpg" alt="" >
                            <a href="#">Lo quiero</a>
                    </div>
                    <div class="product-item">
                            <img src="../../assets/css/images/popular5.jpg" alt="" >
                            <a href="#">Lo quiero</a>
                    </div>
                    <div class="product-item">
                            <img src="../../assets/css/images/popular6.jpg" alt="" >
                            <a href="#">Lo quiero</a>
                    </div>
                    <div class="product-item">
                            <img src="../../assets/css/images/popular7.jpg" alt="" >
                            <a href="#">Lo quiero</a>
                    </div>
                    <div class="product-item">
                            <img src="../../assets/css/images//popular8.jpg" alt="" >
                            <a href="#">Lo quiero</a>
                    </div>
            </section>
    </div>
</div>
