<header>
  <input type="checkbox" id="btn-menu" />
  <nav class="menu">
    <div class="logo">
      <img src="../../assets/css/images/libreria2.png" alt="" style="size: 90%;">
    </div>
    <div class="enlaces">
      <a routerLink="Inicio">Inicio</a>
      <!--<a href="#">Categoria</a>-->
      <a href="#">Pre-escolar</a>
      <a routerLink="Primaria">Primaria</a>
      <a href="#">Secundaria</a>
      <a href="#">Nosotros</a>
      <a routerLink="Iniciosesion" >Iniciar sesión</a>
      <a href="#">Cerrar sesión</a>
    </div>
    <label for="btn-menu"><i class="fas fa-bars"></i></label>
  </nav>
</header>


<router-outlet></router-outlet>

<footer class="contenedor">
  <div class="redes-sociales">
    <div class="contenedor-icono">
      <a href="" target="_blank" class="twitter">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
    <div class="contenedor-icono">
      <a href="" target="_blank" class="facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
    </div>
    <div class="contenedor-icono">
      <a href="" target="_blank" class="instagram">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>
  <div class="creado-por text-center">
    <p>Sitio diseñado por <a href="#">UNICAH</a>-<a href="#">Clase Seminario de Software</a></p>
  </div>
</footer>