    <!-- header-start -->
    <header>
      <input type="checkbox" id="btn-menu">
    <nav class="menu">
      <div class="logo">
          <img src="../assets/css/images/libreria2.png" alt="">
      </div>
      <div class="enlaces">
        <li><a routerLink="Inicio">Inicio</a></li>
        <li><a routerLink="Primaria">Primaria</a></li>
        <li><a routerLink="Preescolar">Pre-escolar</a></li>
        <li><a routerLink="Popular">Popular</a></li>
        <li><a routerLink="Nosotros">Nosotros</a></li>
        <li><a routerLink="Login" >Iniciar sesión</a></li>
        <li><a href="#">Cerrar sesión</a></li>
      </div>
      <label for="btn-menu"><i class="fas fa-bars"></i></label>
    </nav>
  </header>
  <!-- header-end -->


<router-outlet></router-outlet>

<footer class="contenedor">
  <div class="redes-sociales">
    <div class="contenedor-icono">
      <a href="" target="_blank" class="twitter">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
    <div class="contenedor-icono">
      <a href="" target="_blank" class="facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
    </div>
    <div class="contenedor-icono">
      <a href="" target="_blank" class="instagram">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>
  <div class="creado-por text-center">
    <p>Sitio diseñado por <a href="#">UNICAH</a>-<a href="#">Clase Seminario de Software</a></p>
  </div>
</footer>