<div class="wrap">
        <div class="store-wrapper">
                <section class="products-list">
                        <div class="product-item">
                                <img src="../../assets/css/images/001.jpg" alt="" >
                                <a href="#">Lo quiero</a>
                        </div>
                        <div class="product-item">
                                <img src="../../assets/css/images/002.jpg" alt="" >
                                <a href="#">Lo quiero</a>
                        </div>
                        <div class="product-item">
                                <img src="../../assets/css/images/atlas.jpg" alt="" >
                                <a href="#">Lo quiero</a>
                        </div>
                        <div class="product-item">
                                <img src="../../assets/css/images/bj1.jpg" alt="" >
                                <a href="#">Lo quiero</a>
                        </div>
                        <div class="product-item">
                                <img src="../../assets/css/images/bj2.jpg" alt="" >
                                <a href="#">Lo quiero</a>
                        </div>
                        <div class="product-item">
                                <img src="../../assets/css/images/bj3.jpg" alt="" >
                                <a href="#">Lo quiero</a>
                        </div>
                        <div class="product-item">
                                <img src="../../assets/css/images/ce1.jpg" alt="" >
                                <a href="#">Lo quiero</a>
                        </div>
                        <div class="product-item">
                                <img src="../../assets/css/images/ce2.jpg" alt="" >
                                <a href="#">Lo quiero</a>
                        </div>
                </section>
        </div>
</div>






