<div class="form-container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Registrarse</h1>
    <form [formGroup]="contactForm" (ngSubmit)="onSaveForm()">
      <input type="text" formControlName="Nombre" placeholder="Nombre">
      <input type="text" formControlName="Apellido" placeholder="Apellido">
      <input type="number" formControlName="Telefono" placeholder="Telefono">
      <input type="text" formControlName="Direccion" placeholder="Direccion">
      <input type="text" formControlName="Email" placeholder="Email">
      <button type="submit" class="btn-send" [disabled]="!contactForm.valid">Guardar</button>
    </form>
  </div>
  